/* Slide-in animations */
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  
  
  
  /* Container for the programs section */
  .programs {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .program {
    width: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    opacity: 0; /* Start hidden */
  }
  
  .program.animated:nth-child(odd) {
    animation: slideInLeft 0.8s forwards;
  }
  
  .program.animated:nth-child(even) {
    animation: slideInRight 0.8s forwards;
  }
  
  
 
  
  .programTitle
  {
    font-size: 28px;
  
  }
  /* Programs.css */
  
  
  
  
  /* Image styling */
  .program img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Hover effect on image */
  .program:hover img {
    transform: scale(1.1);
    box-shadow: 0 8px 16px  #04D939;
  }
  
  
  .caption {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333;
  }
  
  
  /* Image inside the caption */
  .caption img {
    width: 60px; /* Set width for the caption image */
    margin-bottom: 10px; /* Space below the caption image */
  }
  
  /* Show caption on hover */
  .program:hover .caption {
    opacity: 1; /* Make caption visible */
    padding-top: 0; /* Remove top padding to reveal content */
  }
  
  /* -------- Media Query for Responsive Design -------- */
  
  /* Adjust styles for smaller screens */
  @media (max-width: 650px) {
    .programs {
      width:auto;
        justify-content: space-between; /* Align items evenly */
        padding: 10px; /* Adjust padding for smaller screens */
    }
    
    .program {
        width: calc(50% - 20px); /* Make each program take half the width minus gaps */
        margin: 10px 0; /* Add vertical margin */
        padding: 0; /* Remove padding */
    }
    
    /* Adjust image size for mobile view to prevent overlapping */
    .program img {
        width: 100%; /* Make the image take full width of the program card */
        height:80%; /* Adjust height automatically to maintain aspect ratio */
    }
    
    /* Adjust text sizes for mobile view */
    
    .programTitle
    {
      font-size: 0.6rem;
    }
    .caption {
        font-size: 0.8rem; /* Smaller font size for captions in mobile view */
    }
  }