.buyContainer {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .buyTitle {
    font-size: 28px;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .buyDescription {
    text-align: center;
    font-size: 16px;
    color: #7f8c8d;
    margin-bottom: 30px;
  }
  
  .buyForm {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formGroup label {
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 8px;
    background-color: #fff;
    transition: border-color 0.3s;
  }
  
  .formGroup input:focus,
  .formGroup textarea:focus {
    border-color: #3498db;
    outline: none;
  }
  
  .formGroup textarea {
    height: 120px;
    resize: vertical;
  }
  
  .readonlyInput {
    background-color: #f1f1f1;
    cursor: not-allowed;
    font-style: italic;
  }
  
  .buyButton {
    display: inline-block;
    background: linear-gradient(135deg,  #04D939,#001542);
    color: #fff;
    padding: 15px 40px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  }
  
  .buyButton:hover {
    background: linear-gradient(135deg, #001542, #04D939); /* Invert gradient */
    transform: translateY(-3px) scale(1.05);
  }
  
  .errorMessage {
    color: #e74c3c;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  
  .error {
    color: #e74c3c; /* Bright red color for error messages */
    font-size: 14px; /* Slightly smaller text size */
    margin-top: 5px; /* Space between the error message and the input */
    font-weight: 700; /* Medium weight for emphasis */
  }