.buyContainer {
  width: 90%;
  max-width: 850px;
  margin: 60px auto;
  padding: 40px;
  background: linear-gradient(135deg, #f4f4f9, #ffffff);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
/* Example custom styling for the Toaster */
.toaster {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;  /* Ensure it's on top of other content */
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent h2 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.okButton {
  background: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.okButton:hover {
  background: #218838;
}


.buyTitle {
  font-size: 32px;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.buyDescription {
  text-align: center;
  font-size: 18px;
  color: #7f8c8d;
  margin-bottom: 40px;
}

.shopTypeOptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 30px;
}

.shopTypeOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shopTypeOption:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.shopTypeLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.shopTypeImage {
  margin-left: 12px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.selected {
  background-color: #b9f3b6;
}

.formGroup {
  margin-bottom: 25px;
}

.formGroup label {
  font-size: 18px;
  font-weight: 600;
  color: #2c3e50;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 8px;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.formGroup input:focus,
.formGroup textarea:focus {
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.3);
  outline: none;
}

.formGroup textarea {
  height: 140px;
  resize: vertical;
}

.readonlyInput {
  background-color: #f1f1f1;
  cursor: not-allowed;
  font-style: italic;
}

.buyButton {
  display: inline-block;
  background: linear-gradient(135deg, #04D939, #001542);
  color: #fff;
  padding: 18px 50px;
  margin-top: 30px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buyButton:hover {
  background: linear-gradient(135deg, #001542, #04D939);
  transform: translateY(-5px) scale(1.05);
}

.errorMessage {
  color: #e74c3c;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 700;
  text-align: left;
}

@media (max-width: 768px) {
  .shopTypeOptions {
    grid-template-columns: 1fr;
  }

  .buyContainer {
    width: 100%;
    padding: 20px;
  }

  .buyTitle {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .buyDescription {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .formGroup label {
    font-size: 16px;
  }

  .buyButton {
    width: 100%;
    padding: 16px 40px;
    font-size: 18px;
  }
}
